:root{
    --logoGray: #454d55;
    --logoSemiWhite: #e2eaf9;
    --logoYellowOrange: #fccc48;
    --logoOrange:  #fc9351;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background-color: hsl(154, 59%, 51%);

}

.container{
    padding: 5%;
    /* background-color: limegreen; */
    background-image: url(../images/bg-mobile.svg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.hero{
    /* background-color: salmon; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__logo{
    /* background-color: seagreen; */
    position: relative;
    margin-bottom: 20px;
}

.logo__text{
    display: flex;
    text-decoration: none;
    /* color: rgba(54, 54, 54,0.9); */
    color: #ffffff;
    /* color: var(--logoSemiWhite); */
    font-weight: 400;
}

.logo__bandita{
    /* background-color: skyblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.logo__rest-text{
    font-size: 4.5rem;
    font-family: 'Lobster', cursive;
}


.bandita__x{
    border-radius: 15px;
    width: 130px;
    height: 40px;
    border: 5px solid var(--logoGray);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, var(--logoSemiWhite)), color-stop(25%, #ffffff));
    background: linear-gradient(var(--logoSemiWhite) 25%, #ffffff 25%);
}

.bandita__x-back{
    transform: rotate(45deg);
}

.bandita__x-front{
    transform: rotate(-45deg);
    position: absolute;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.bandita__parche{
    border-radius: 5px;
    width: 38px;
    height: 23px;
    background-color: var(--logoYellowOrange);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2px;
}

.bandita__dot{
    width: 5px;
    height: 5px;
    margin: 1px 2px;
    background-color: var(--logoOrange);
    border-radius: 50%;
    display: inline-block;   
}

.hero__text-container{
    /* background-color: khaki; */
    padding: 20px;
    text-align: center;
}

.hero__text{
    font-size: 1.8rem;
}

.hero__button{
    margin-bottom: 10px;
}

.button__join{
    font-size: 1.8rem;
    padding: 15px;
    line-height: 40px;
    border: none;
    border-radius: 6px;
}

.hero__arrows{
    width: 80px;
    height: 80px;
    /* background-color: salmon; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__arrows:before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 7px solid rgba(0, 0, 0, 0.7);
    border-bottom: 7px solid rgba(0, 0, 0, 0.7);
    animation: arrows 3s linear infinite;
}

.hero__arrows:after{
  content: "";
  /* position: absolute; */
  width: 20px;
  height: 20px;
  border-left: 7px solid rgba(0, 0, 0, 0.7);
  border-bottom: 7px solid rgba(0, 0, 0, 0.7);
  animation: arrows 3s linear infinite -1.5s;
}

@keyframes arrows {
    0% {
      border-left: 16px solid rgba(0, 0, 0, 0);
      border-bottom: 16px solid rgba(0, 0, 0, 0);
      transform: translate(0, -43.3333333333px) rotate(-45deg);
    }
    10%,
    90% {
      border-left: 16.6666666667px solid rgba(0, 0, 0, 0);
      border-bottom: 16.6666666667px solid rgba(0, 0, 0, 0);
    }
    50% {
      border-left: 16.6666666667px solid rgba(0, 0, 0, 0.7);
      border-bottom: 16.6666666667px solid rgba(0, 0, 0, 0.7);
      transform: translate(0, 0px) rotate(-45deg);
    }
    100% {
      border-left: 16.6666666667px solid rgba(0, 0, 0, 0);
      border-bottom: 16.6666666667px solid rgba(0, 0, 0, 0);
      transform: translate(0, 43.3333333333px) rotate(-45deg);
    }
  }