:root{
    --logoGray: #454d55;
    --logoSemiWhite: #e2eaf9;
    --logoYellowOrange: #fccc48;
    --logoOrange:  #fc9351;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}



